html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    background-color: #e31b23;
    color: white;
    padding: 15px;
    text-align: center;
}
